.auth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth_container {
  width: 100%;
  background-color: var(--container-color);
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.18);
}

.auth_container-left {
  background: url("../../assets/35055371_8270289.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.auth_container-left h6,
.auth_container-left h1,
.auth_container-left p {
  color: var(--container-color);
  text-align: center;
  margin: 1rem 0;
}

.auth_container-left h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

.auth_container-left h6 {
  font-size: 1.2rem;
  font-weight: 400;
}

.auth_container-left p {
  font-size: 1rem;
  margin: 2rem 7rem;
  line-height: 1.2rem;
}

.auth_container-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 7rem;
}

.auth_container-right div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

.auth_container-right div h2 {
  color: rgb(125, 72, 250);
  font-weight: 600;
  font-size: 1.4rem;
}

.auth_container-right div p {
  text-align: center;
  font-size: 0.75rem;
  color: grey;
}

@media only screen and (max-width: 1200px) {
  .auth_container-left {
    padding: 0 1rem;
  }

  .auth_container-left p {
    margin: 2rem 6rem;
  }

  .auth_container-right {
    padding: 2rem 5rem;
  }

  .auth_container-left h1 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 992px) {
  .auth_container-right {
    padding: 2rem 4rem;
  }

  .auth_container-left p {
    font-size: 0.9rem;
    margin: 2rem 3rem;
  }

  .auth_container-left h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 860px) {

  .auth_container-right {
    padding: 2rem 3rem;
  }

  .auth_container-left p {
    margin: 2rem;
  }

  .auth_container-left h1 {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 768px) {
  .auth_container {
    height: auto;
    width: 90%;
  }

  .auth_container {
    grid-template-columns: 1fr;
  }

  .auth_container-right {
    padding: 2rem 7rem;
  }
}

@media only screen and (max-width: 560px) {
  .auth_container-right {
    padding: 2rem 4rem;
  }

  .auth_container-right div h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .auth_container-left h6 {
    font-size: 1rem;
  }

  .auth_container-left h1 {
    font-size: 1.4rem;
  }

  .auth_container-right {
    padding: 2rem;
  }

  .auth_container {
    width: 100%;
  }
}
